*{  
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline-flex;
}
li{
    list-style-type: none;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong{
    font-size: inherit;
    font-weight: inherit;
}
img , video{
    width:100%;
    display: block;
    object-fit: cover;
}
iframe{
    width:100%;
    min-height: 400px;
    display: block;
}
form , input , select ,  textarea , button , label{
    font-size: inherit;
    font-family: inherit;
    display: block;
    color:inherit;
    background-color: transparent;   
}
option{
    font-size: inherit;
    font-family: inherit;
}
table , tr , td , th , thead , tbody , tfoot{
    border-collapse: collapse;
}
body{
    font-size: 100%;
    font-family: 'Lora', serif;
    color:#ffffff;
    background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
} 
.body .h1{
    width: 70%;
    /* background-color: brown; */
    margin: auto;
 }
.fieldseta{
    width: 70%;
    min-height: 4em;
    background-color: #fa48f1d2;
    border:1px solid #f6f6f6;
    padding: 1em;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    margin-bottom:2em;
    }
.fieldseta .legend{
    width:40%;
    min-height: 2em ;
    background-color: teal;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    
    
    }
.fieldseta .centrado  {
    width: 100%;
    min-height: 6em;
    /* background-color: brown; */
    margin-left: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;

    }
    
.fieldseta .centrado .div{
    width:90%;
    min-height: 1em;
    /* background-color: magenta; */
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    }
             
.fieldseta .div .input{   
    width: 90%;
    min-height: 2em;
    background-color: white;
   color: black;
     }
.fieldsetb{
        width: 70%;
        min-height: 4em;
        /* background-color: #fa48f1d2; */
        border:1px solid #f6f6f6;
        padding: 1em;
        margin: auto;
        margin-bottom:2em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: initial;
        
    }
 .fieldsetb .legend{
        width:40%;
        min-height: 2em ;
        /* background-color: teal; */
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: initial;
    }
.fieldsetb .contrato  {
        width: 100%;
        min-height: 6em;
        /* background-color: brown; */
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: initial;
        }
.fieldsetb .contrato .div{
            width:65%;
            min-height: 2em;
            /* background-color: magenta; */
            
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: initial;
            }
 .fieldsetb .contrato .div .item{
    width:100%;
    min-height: 2em;
    /* background-color:yellow; */
    margin:1px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
 }
 .fieldsetb .compania{
    width: 100%;
    min-height: 2em;
    /* background-color:yellowgreen; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    }
.fieldsetb .compania .select{
    background-color: white;
    color: black;
}
.fieldsetc{
    width: 70%;
    min-height: 4em;
    /* background-color: #fa48f1d2; */
    border:1px solid #f6f6f6;
    padding: 1em;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    margin-bottom:2em;
}
.fieldsetc .legend{
        width:40%;
        min-height: 2em ;
        /* background-color: teal; */
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: initial;
    }

.fieldsetc .datosban {
        width: 100%;
        min-height: 6em;
        /* background-color: brown; */
        margin-left: 1.5em;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: initial;
    }
.fieldsetc .datosban .div{
        width:  90%;
        min-height:4em ;
        /* background-color: blueviolet; */
        margin: 1px;
    }
.fieldsetc .datosban .div .input3{   
        width: 90%;
        min-height: 2em;
        background-color: white;
        color: black;
    }
.fieldsetd{
        width: 70%;
        min-height: 4em;
        /* background-color: #fa48f1d2; */
        border:1px solid #f6f6f6;
        padding: 1em;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: initial;
        margin-bottom: 0.5em;
        }
 .fieldsetd .legend{
        width:60%;
        min-height: 2em ;
        /* background-color: teal; */
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: initial;
        }
.fieldsetd .mediosc{
    width: 100%;
    min-height: 1em;
    /* background-color: cornflowerblue; */
    margin-left: 1.5em;
}
.fieldsetd .mediosc .div{
    width: 80% ;
    min-height: 1 em;
    /* background-color: crimson; */
    margin-top: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
}
.fieldsetd .mediosc .valor{
    width: 80% ;
    min-height: 1 em;
    /* background-color:darkgreen; */
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
}
.fieldsetd .mediosc .divfecha{
    width: 80% ;
    min-height: 1 em;
    /* background-color:darkslateblue; */
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;

}
.fieldsetd .mediosc .divfecha .input4{
    width: 30%;
    min-height: 1em;
    background-color: white;
    color: black;
}
.h1{
    width: 40%;
    min-height: 1em;
    background-color:transparent;
    margin: auto;
    padding: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.botones{
    width: 70%;
    min-height: 80px;
    /* background-color: tomato; */
    margin: auto;
    
   
}
.botones .datos{
    width: 45%;
    min-height: 3em;
    /* background-color: yellow; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
    

.botones .datos .uno{
    width: 90%;
    height:  2em;
    background-color: #EB4946;
    margin: 0.5em;
    border:1px solid transparent;
	border-radius:5px;

}

.botones .buttons{
    width: 60%;
    /* min-height: 1em; */
    /* background-color: violet; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;

}
.botones .buttons .dos{
    width: 90%;
    min-height: 0.8em;
    background-color:#EE6B81;
    margin: 0.5em;
    border:1px solid transparent;
	border-radius:5px;
}

